/* цвет основного текста #212121*/
/* вторичный цвет #757575 */
/* белый #FFFFFF */
/* акцент голубой #2196F3 */
/* цвет почта и телефон rgba(255, 255, 255, 0,6) */
/* цвет logo STUDIO #000000 */
/* основной цвет фона #E5E5E5 */
/* вторичный цвет фона #F5F4FA */

/*  font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif; */

:root {
  --main-color: #212121;
  --secondary-color: #757575;
  --white-color: #ffffff;
  --accent-blue: #2196f3;
  --color-mail-phone: rgba(255, 255, 255, 0.6);
  --color-logo-STUDIO: #000000;
  --main-background-color: #e5e5e5;
  --secondary-background-color: #f5f4fa;
  --hero-footer-background-color: #2f303a;
  --button-hover-color: #188ce8;
  --box-shadow-our-team-elements: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --box-shadow-button-color: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --header-line-color: #ececec;
  --project-group-container-line-color: #eeeeee;
  --project-group-container-background-color: #ffffff;
  --img-overlay: rgba(47, 48, 58, 0.4);
  --work-overlay: rgba(47, 48, 58, 0.8);
  --logo-company-border: rgba(175, 177, 184, 1);
  --social-color: #afb1b8;
  --social-footer-backgroundcolor: rgba(255, 255, 255, 0.1);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
  background-color: var(--main-background-colorr);
  font-size: 14px;
  letter-spacing: 0.03em;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

/* Logo */

.logo {
  font-family: "Raleway", sans-serif;
  color: var(--accent-blue);
  text-decoration: none;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
}

/* Header */

.page-header {
  display: flex;
  height: 80px;
  border: 1px solid var(--main-background-color);
}

.main-nav {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo-studio {
  color: var(--color-logo-STUDIO);
}

/* Site-nav */

.site-nav {
  display: flex;
  justify-content: space-between;
  margin-left: 93px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .link.pseudo {
  color: var(--accent-blue);
}

.site-nav .pseudo::after {
  display: flex;
  position: absolute;
  content: " ";
  width: 48px;
  height: 4px;
  bottom: 0;
  border: 2px;
  border-radius: 2px;
  background-color: var(--accent-blue);
}

.site-nav .item {
  margin-right: 50px;
}

.site-nav .item:last-child {
  margin-right: 0px;
}

.site-nav .link {
  display: flex;
  position: relative;

  color: var(--main-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-blue);
  cursor: pointer;
}

/* Auth-nav */

.auth-nav {
  display: flex;
  justify-content: space-between;
  margin-left: 305px;
}

.auth-nav .item {
  margin-right: 30px;
}

.auth-nav .item + .item {
  margin-right: 0px;
}

.auth-nav .link {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: flex;
  align-items: center;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-blue);
  cursor: pointer;
}

.icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

/* Hero */

.hero {
  background-color: var(--hero-footer-background-color);

  text-align: center;

  padding: 200px 0;

  max-height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img-hero.jpg);
}

.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  max-width: 696px;
  height: 120px;

  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* Features */

.feature-list {
  display: flex;
}

.feature-list-elements {
  width: 270px;
  margin-right: 30px;
}

.feature-list-elements:nth-child(4n) {
  margin-right: 0px;
}

.feature-list .title {
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  text-transform: uppercase;

  margin-top: 30px;
  margin-bottom: 10px;
}

.feature-list .text {
  color: var(--secondary-color);
  line-height: 1.71;

  margin-top: 0px;
  margin-bottom: 0px;
}

/* Features-icones */

.feature-list-elements::before {
  display: block;
  content: " ";
  height: 120px;
  background: var(--secondary-background-color);
  border-radius: 4px;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-group::before {
  background-image: url(../images/icon/icon-group.svg);
}

.icon-clock::before {
  background-image: url(../images/icon/icon-clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/icon/icon-diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/icon/icon-astronaut.svg);
}

/* Section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  color: var(--main-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-top: 0px;
  margin-bottom: 50px;
}

/* Work */

.work-section {
  margin-top: -94px;
}

.work {
  display: flex;
  justify-content: space-between;
}

.work-pic {
  display: block;
  margin-bottom: 0px;
  margin-right: 30px;
  position: relative;
}

.work-pic:last-child {
  margin-right: 0px;
}

.thumb > .label {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 370px;
  height: 70px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
  background-color: var(--work-overlay);
}

/* Our team */

.our-team-section {
  background-color: var(--secondary-background-color);
}

.our-team-container {
  display: flex;
  justify-content: space-between;
}

.our-team-elements {
  width: 270px;
  margin-right: 30px;
  background: var(--project-group-container-background-color);
  box-shadow: var(--box-shadow-our-team-elements);
  border-radius: 0px 0px 4px 4px;

  text-align: center;
}

.our-team-elements:nth-child(4n) {
  margin-right: 0px;
}

.our-team-elements .our-team-photo {
  display: block;
}

.our-team-elements .name {
  color: var(--main-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  margin-top: 0px;
  margin-bottom: 10px;
}

.our-team-name-position-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.position {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.19;
}

.social-list {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-left: 32px;
  padding-right: 32px;
}

.social-item {
  margin-right: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: var(--white-color);
  color: var(--social-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* transition: var(--white-color) 250ms cubic-bezier(0.4, 0, 0.2, 1)
    var(--social-color); */
  /* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-blue);
  color: var(--white-color);
  cursor: pointer;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* Постоянные клиенты */

.regular-clients-list {
  display: flex;
  justify-content: space-between;
}

.regular-clients-link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--social-color);
  border-radius: 4px;
  color: var(--social-color);

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-clients-link:hover,
.regular-clients-link:focus {
  /* color: var(--accent-blue); */
  border: 1px solid var(--accent-blue);
  cursor: pointer;
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon:hover,
.clients-icon:focus {
  fill: var(--accent-blue);
  cursor: pointer;
}

/* Footer */

.page-footer {
  background-color: var(--hero-footer-background-color);

  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
}

.footer-container-first {
  display: block;
}

.footer-logo-studio {
  color: var(--white-color);
}

.footer-logo {
  display: inline-block;
  width: 231px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.container-footer-address {
  width: 231px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.footer-address {
  color: var(--white-color);
  font-style: normal;
  line-height: 1.714;
  margin-bottom: 0px;
}

.contacts-list {
  color: var(--color-mail-phone);
  text-decoration: none;

  display: inline-block;
  width: 231px;
  margin-top: 9px;
}

.footer-container-second {
  display: block;
  margin-left: 70px;
}

.footer-join-text {
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 20px;
}

.social-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: var(--social-footer-backgroundcolor);
  color: var(--white-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: var(--accent-blue);
  cursor: pointer;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.icon-footer {
  display: flex;
  align-items: center;
  width: 206px;
  margin-top: 20px;
}

/* Button */

.button {
  font-family: inherit;
  border: solid 0px;
  font-size: 16px;
  border-radius: 4px;
}

.button.primary {
  color: var(--white-color);
  background-color: var(--accent-blue);
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;

  text-align: center;
  padding: 10px 32px;
  min-width: 200px;
  min-height: 50px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--button-hover-color);
  cursor: pointer;
}

/* Button portfolio */

.button.secondary {
  color: var(--main-color);
  background-color: var(--secondary-background-color);
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;

  text-align: center;

  padding: 6px 22px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--white-color);
  background-color: var(--accent-blue);
  box-shadow: var(--box-shadow-button-color);
  cursor: pointer;
}

.button-portfolio {
  display: flex;
  justify-content: center;
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.button-nav {
  margin-left: 0px;
  margin-right: 8px;
}

.button-nav:nth-child(5n) {
  margin-right: 0px;
}

/* PORTFOLIO */

/* проэкты */

.project-group-container {
  display: flex;
  flex-wrap: wrap;
}

.project-group-element {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid var(--project-group-container-line-color);
}

.project-group-element:hover {
  border: 1px solid var(--project-group-container-line-color);
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.project-group-element:nth-child(3n) {
  margin-right: 0px;
}

.project-group-element:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.project-group-element .project-photo {
  display: block;
  height: auto;
  width: 100%;
}

.project-group-element .project-name {
  color: var(--main-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}

.project-group-element .project-title {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.875;
}

.project-name-title-container {
  padding: 20px 24px;
}
